.TabsContainer {
  display: flex;
  justify-content: left;
  background-color: #3E7AE2;
  color: white;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),
    0px 4px 5px 0px rgba(0,0,0,0.14),
    0px 1px 10px 0px rgba(0,0,0,0.12);
}

.Tab {
  padding: 1em;
  border-bottom: 3px solid #3E7AE2;
  cursor: pointer;
}

.Tab.active {
  border-bottom-color: white;
}

.Content {
  padding: 1em;
}
